<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>EnglishApp</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- <script src="resources/some.js"></script> -->

</head>
<style>
.navbar {
	background-color: purple;
}
</style>

<body>

	<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				{% if login %}
				<a class="navbar-brand" href="users/login?logout=1" > Logout </a>
				<a class="navbar-brand" href="users/" > {{username}} </a>
				{% else %}
				<a class="navbar-brand" href="users/registration" th:href="@{/users/registration}"> Registration </a>
                <a class="navbar-brand" href="users/login" th:href="@{/users/login}"> Login </a>
				{% endif %}
			</div>

		</div>
	</nav>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="container">
		{% if login %}
		<h1 class="text-center" size="6" text-align="center"> Welcome, {{username}}! </h1>
		{% else %}
		<h1 class="text-center" size="6" text-align="center" style="color: purple" >
			Welcome! Would you like to <a href="users/login">try</a> our awesome app? </h1>
		{% endif %}
	</div>

</body>
</html>
</title>
</head>
<body>

</body>
</html>
