<!DOCTYPE html>
<html>
{% load static %}
<head>
<meta charset="UTF-8">
<title>LangLand</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="{% static 'keywords/admin.js' %}"></script>
<link rel="stylesheet"  href="{% static 'keywords/admin.css' %}">

</head>
<body>
    <script src="{% static 'keywords/nav.js' %}"></script>

 <p style="margin-bottom: 5em"></p>

<div class="row" style="height: 10ex;"> </div>
<div class="container h-100">
		<div class="row h-100 justify-content-center align-items-center">
			<div class="col-md-6 col-md-offset-3" id="div-last">
                <h3>Words to be checked: </h3>
                <br>
                <!--<form class="row g-3">
                    <div class="col-auto">
                        <input type="text" value="Word" class="form-control word-change" disabled="disabled">
                    </div>
                    <div class="col-auto"> - </div>
                    <div class="col-auto">
                        <input type="text" value="Слово" class="form-control word-change" disabled="disabled">
                    </div>
                    <div class="col-auto">
                          <button class="btn btn-danger">delete</button>
                    </div>
                    <div class="col-auto">
                          <button class="btn btn-success">add</button>
                    </div>
                    <div class="col-auto">
                          <button class="btn btn-primary">change</button>
                    </div>

                </form>
                <br>-->

            </div>
        </div>
</div>
<script>
	var csrftoken = '{{ csrf_token }}';
	show_list('{{words}}', "{{trans}}", "{{ids}}", csrftoken);
</script>

</body>
</html>
