<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>EnglishApp</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<style>
.navbar {
	background-color: purple;
}
</style>
<body>

	<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/users/" > Home </a>
			</div>
		</div>
	</nav>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<!-- Create HTML registration form -->
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">


				<h1>Edit information</h1>

				<form th:action="{% url 'users:edit' %}" method="post" >
					{% csrf_token %}
					<div class="form-group">
						<label class="control-label" for="firstName"> First Name </label>
						<input id="firstName" class="form-control" name="firstName"
							 autofocus="autofocus" />
					</div>

					<div class="form-group">
						<label class="control-label" for="lastName"> Last Name </label> <input
							id="lastName" class="form-control" name="lastName"
							  autofocus="autofocus"  />
					</div>

                  <div class="form-group">
						<label class="control-label" for="level"> level </label> <select
							id="level" class="form-control" name="level"
							 autofocus="autofocus" list="levels" onkeydown="return false" >
                              <option value=""></option>
                              <option value="Elementary">Elementary</option>
                              <option value="Beginner">Beginner</option>
                              <option value="Intermediate">Intermediate</option>
                              <option value="Upper-Intermediate">Upper-Intermediate</option>
                              <option value="Advanced">Advanced</option>
                  </select>
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-primary">save</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
