<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>English App</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- <script src="resources/some.js"></script> -->

</head>
<style>
.navbar {
	background-color: purple;
}
</style>

<body>

	<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"> Home </a>
			</div>
		</div>
	</nav>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="container">
	<h3> Username: {{username}} </h3>
    <p> Last name: {{lastname}} </p>
    <p> First name: {{firstname}} </p>
    <p> email: {{email}} </p>
		<p>level: {{level}}</p>
		<p> words: {{words}}</p>
		<br>
		<a type="button" class="btn btn-primary" href="/users/edit">edit info</a>
	</div>
</body>
</html>
</title>
</head>
<body>

</body>
</html>
